<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vid.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vid.description %>
</p>

<p>
  <strong>Youtube url:</strong>
  <%= @vid.youtube_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @vid.user_id %>
</p>

<%= link_to 'Edit', edit_vid_path(@vid) %> |
<%= link_to 'Back', vids_path %>
