<h1>Wikiful Articles</h1>

  <div class="row-fluid">

  <%= render 'articles/indexdropdown' %>

  <div class="span4">
<%= will_paginate @articles %>
  </div>
      <div class="span4 btn-group"> 
        <div class="pull-right"><button type="button" class="btn btn-primary"><%= link_to 'Contribute a New Article', new_article_path %> </btn></div>
      </div>
  </div>



<!-- The table that displays -->

  <%= render 'articles/headerwells' %>

  
  <% @articles.each do |single_article| %>
    <%= render 'article', :article => single_article %>
  <% end %>
