<p id="notice"><%= notice %></p>

<div class="btn pull-right">
<%= link_to 'Back', articles_path %>
</div>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
<span class="btn">
<%= link_to 'Edit', edit_article_path(@article) %>
</span>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.user.email %>
</p>


<p>
  <strong>Article:</strong>
  <%= @article.text %>
</p>



