<div class="row" style="background: #EEE;">
	<div class="span2">
    	<div id="profile_label"><b><%= link_to user.name, user %></b></div>
		<center><%= gravatar_for user %></center><br>
		<% if current_user.admin? && !current_user?(user) %>
		<%= link_to "ADMIN: Delete User", user, method: :delete,
                                  data: { confirm: "Are you sure you want to PERMANENTLY delete this user?" } %>
         <% end %>
	</div>
	<div class="span4">
		<%= user.email %>
		<br>
		<%= user.school %>
		<br>
		<%= user.department %>
	</div>
	<div class="span6">
		<%= link_to "See all Articles authored by #{user.name}", user %></span>
	</div>
</div>
<div style="margin-top:10px;">