  <div class="row-fluid">

<div class="span4">
	<i> There are <b><%= @category.articles.count %> articles</b> filed under <%= @category.name %></i>
</div>

  <div class="span4">
  <%= will_paginate @articles %>
  </div>
      <div class="span4 btn-group"> 
        <div class="pull-right"><button type="button" class="btn btn-primary"><%= link_to 'Contribute a New Article', new_article_path %> </btn></div>
      </div>
  </div>

<h1><%= @category.name %>&nbsp; Articles</h1>




<hr>
  <div class="row-fluid">
    <div class="span4 well center">Title</div>
    <div class="span4 well center">Category</div>
    <div class="span4 well center">User</div>
  </div>
 <hr>

 <% @category.articles.each do |single_article| %>
   <%= render 'articles/article', :article => single_article %>
<% end %>
